@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Pacifico&family=Parkinsans:wght@300..800&family=Poppins:wght@100&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto:wght@100;300;400;700;900&display=swap");

/* 
Familia de FONTES
font-family: "Parkinsans", sans-serif;
font-family: "Pacifico", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Noto Sans", sans-serif;
font-family: "Righteous", serif, sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Raleway", serif, sans-serif;
font-family: "Poppins", serif, sans-serif;
font-family: 'Fredericka', Courier, monospace;
*/

root {
  --color: rgb(66, 70, 77);
}

*,
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif, sans-serif;
}

body {
  min-height: 100dvh;
}

/* CSS - Genérico */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container1280px {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/* Fim -CSS - Genérico  */

.header {
  min-height: 10vh;

  justify-content: center;
  align-items: center;
  gap: 50px;
}

.h-box-logo {
  height: 50px;
}

.h-logo {
  height: 100%;
  object-fit: cover;
}

.h-nav {}

.h-nav-menu {}

/* h-btn-menu */
.h-btn-menu {
  display: none;
}

.h-menu-line1 {}

.h-menu-line2 {}

.h-menu-line3 {}

/* h-banner */
.h-banner {
  align-items: ;
}

.h-banner-title {}

/* showcase */
.showcase {}

/* sections de Produtos */

.thermal {
  margin-top: 30px;
}

.thermalTitle {}

.thermalContainerSub {
  grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
  gap: 20px;
}

/* Card-produto */
.card {
  position: relative;
  height: 430px;
  /* 
  width: 280px; */
  box-shadow: 0 0 5px #333;
  padding: 20px 10px 0;
  border-radius: 3.5%;
  overflow: hidden;
}

/* front card */
.cardSub {
  width: 100%;
  flex-direction: column;
}

/* card box img */
.cardBoxImg {
  width: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.cardImg {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

/* front card content */
.cardContent {
  height: 100%;
  flex: 1;
}

.cardTitle {
  margin-top: 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Righteous", serif, sans-serif;
}

/* preço produto */
.cardContentBnts {
  margin-top: 10px;
}

.cardPrice {
  align-items: center;
  height: 45px;
}

.cardPrice>span {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  line-height: 1.8;
}

.cardPriceMoeda {
  font-size: 30px;
}

.cardPriceValue,
.cardPriceComma {
  font-size: 35px;
}

.cardPriceSub {
  font-size: 20px;
  align-self: flex-start;
}

/* Valor do Produto */
.cardPrice {
  margin-bottom: 20px;
}

/* Botões de comprar */
.cardContentBntsContainer {
  /*   display: none; */
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.cardContentBntsContainer span {
  font-weight: bold;
}

.cardBtnsParcelado,
.cardBtnsPix {
  border-radius: 10px;
  text-decoration: none;
  font-family: "Fredericka", Courier, monospace;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  flex: 1;
  letter-spacing: 2px;
}

.cardBtnsParcelado {
  background-color: #3d3d3d;
}

.cardBtnsPix {
  background-color: #2bce5f;
}

.button-box{
  border: none;
}

.label-bntBack{
  width: 100%;
}
.input-bntBack{ 
  width: 100%;
}
.buttonDetails{
  width: 100%;
  font-family: "Roboto", sans-serif;
}


/* card back content */
.backStyle{
  bottom: 0;
}

.cardBack {
  position: absolute;
  background-color: #2bce5f;
  bottom: -150px;
  left: 0;
}

.cardBackTitle {}

.cardBackContent {}

.cardBackContentText {}