@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Pacifico&family=Parkinsans:wght@300..800&family=Poppins:wght@100&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto:wght@100;300;400;700;900&display=swap");

root{
--color:rgb(66, 70, 77);
}

*,
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  min-height: 100dvh;
}

/* CSS - Genérico */
.flex {
  display: flex;
}

.margin-auto {
  margin: 0 auto;
}

.img{
    /* height: 100%;
    width: 100%;
    object-fit: cover; */
}

.container-1338px {
  max-width: 1338px;
}
/* Fim -CSS - Genérico  */

.header{
    min-height: 10vh;
}

.h-box-logo{
    height: 50px;
}

.h-logo{
    height: 100%;
    object-fit: cover;
}

.h-nav{

}

.h-nav-menu{}

/* h-btn-menu */
.h-btn-menu{
    display: none;
}

.h-menu-line1{}
.h-menu-line2{}
.h-menu-line3{}

/* h-banner */
.h-banner{}
.h-banner-title{}

/* showcase */
.showcase{}
.sh-box{
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* showcase sh-card */
.sh-card{
    height: 380px;
    width: 280px;
    box-shadow: 0 0 5px #333;
    border-radius: 15px;
    padding: 2%;
    position: relative;
}
/* front card */
.sh-sub-card{
  width: 100%;
}

/* card box img */
.sh-card-box-img{
    max-width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    border: 1px solid #bdbcbc;
    border-radius: 3.5%;
    
}
.sh-card-img{
    height: 80%;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}
/* front card content */
.sh-card-content{
  padding: 2%;
}
.sh-card-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}
.sh-card-content-bnts{}
.sh-card-price{
  font-size: 35px;
}
.sh-card-btns-parcelado, .sh-card-btns-pix{
  padding: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size:10px ;
}

.sh-card-btns-parcelado{
  background-color: cornflowerblue;
}
.sh-card-btns-pix{
  background-color: forestgreen;
} 

.sh-card-sub-content{}
.sh-card-text-content{}

/* back card content */
.sh-sub-card-back-content{
  display: none;
}
.sh-card-sub-back-content{}
.sh-card-text-content{}

